extends layout

block content
  .jumbotron.jumbotron-fluid.bg-info.text-white.text-center
    .container
      h1.display-4 Welcome to Asset Management System
      p.lead Manage your company's assets efficiently with our comprehensive system.
      hr.my-4
      p Explore the features to manage employees and assets seamlessly.
      a.btn.btn-light.btn-lg(href='/employees', role='button') Get Started

  .container.mt-4
    .row.text-center
      .col-lg-4.col-md-6.mb-4
        .card.custom-card.shadow-sm.cdcl
          .card-body
            i.fas.fa-users.fa-3x.mb-3.text-primary
            h5.card-title Employee Master
            p.card-text View and manage all employees in your company.
            a.btn.btn-outline-primary(href='/employees') View Employees

      .col-lg-4.col-md-6.mb-4
        .card.custom-card.shadow-sm
          .card-body
            i.fas.fa-boxes.fa-3x.mb-3.text-success
            h5.card-title Asset Master
            p.card-text Manage all assets efficiently with detailed information.
            a.btn.btn-outline-success(href='/assets') View Assets

      .col-lg-4.col-md-6.mb-4
        .card.custom-card.shadow-sm
          .card-body
            i.fas.fa-tags.fa-3x.mb-3.text-warning
            h5.card-title Asset Categories
            p.card-text Organize your assets by category for better tracking.
            a.btn.btn-outline-warning(href='/assetCategories') View Categories

  .container.mt-4
    .row
      .col-md-6.mb-4
        .card.custom-card.shadow-lg.border-info
          .card-body.bg-light
            h5.card-title.text-center.text-info Asset History
            p.card-text View the complete history of each asset from purchase to scrap.
            a.btn.btn-info(href='/assets/history') View History

      .col-md-6.mb-4
        .card.custom-card.shadow-lg.border-success
          .card-body.bg-light
            h5.card-title.text-center.text-success Stock View
            p.card-text Get a bird's eye view of all assets in stock and their total value.
            a.btn.btn-success(href='/assets/stock') View Stock

  .container.mt-4
    .row
      .col-md-6.mb-4
        .card.custom-card
          .card-body
            h5.card-title.text-center Asset Overview
            .chart-container
              canvas#assetChart

      .col-md-6.mb-4
        .card.custom-card
          .card-body
            h5.card-title.text-center Asset Status
            .chart-container
              canvas#assetStatusChart

  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  script(src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js')
  script(src='https://cdn.jsdelivr.net/npm/chart.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js')
  script.
    $(document).ready(function() {
      // Fetch data for the pie chart
      $.get('/assetCategories/asset-categories', function(data) {
        var labels = data.map(category => category.name);
        var assetCounts = data.map(category => category.assetCount);

        var ctx = document.getElementById('assetChart').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: labels,
            datasets: [{
              data: assetCounts,
              backgroundColor: ['#007bff', '#28a745', '#dc3545', '#ffc107', '#17a2b8']
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
          }
        });
      });

      // Fetch data for the bar chart
      $.get('/assets/asset-status', function(data) {
        var ctx = document.getElementById('assetStatusChart').getContext('2d');
        var statusChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Total Assets', 'Returned Assets', 'Scraped Assets', 'In Stock'],
            datasets: [{
              label: '# of Assets',
              data: [data.totalAssets, data.returnedAssets, data.scrapedAssets, data.inStock],
              backgroundColor: ['#007bff', '#28a745', '#dc3545', '#ffc107']
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
      });
    });
